{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="position-relative" style="height: 36px;">
        <input class="btn btn-primary btn__primary mt-3" type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans }}">
    </div>
{{ form_end(form) }}
