{% extends 'base.html.twig' %}
{% block h2 %}
    <h2 class="title">Wszystkie zdjęcia</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 d-flex flex-column">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                {% for photo in photos %}
                    <div class="task__element">
                        <img src="{{ photo.src }}" alt="Zdjęcie zadania" class="task__img">
                        <a href="{{ path('photo_show', { 'id': photo.id }) }}" class="btn btn-primary task__button">Kliknij</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
