$color-primary: #626a6e;
$border-primary: 1px solid #696969;
$tablet-max: '(max-width: 991px)';
$desktop: '(min-width: 992px)';

/* Basic styles */
body {
    background-color: #ffffff;
    color: $color-primary;
    font-family: "Helvetica Neue", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

h1{
    padding-left: .75rem;
    margin-bottom: 3rem;
}

.no-padding {
    padding: 0;
}

main {
    background-color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media #{$tablet-max} {
        padding-top: 4rem;
    }
    @media #{$desktop} {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

.fa-mr { //Fontawesome - margin right
    margin-right: .75rem;
}
.fa-ml { //Fontawesome - margin left
    margin-left: .75rem;
}

/* Navigation */
.navbar {
    min-height: 100vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: 2px 0 4px #343a40;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed !important;
    @media only screen and (max-width: 991px)  {
        width: 100%;
        min-height: auto;
        overflow-y: scroll;
    }
}
.nav__main {
    text-align: center;
    .nav-link {
        padding: 1rem;
        border-top: $border-primary;
        &.active {
            background-color: $color-primary;
        }
    }
    border-bottom: $border-primary;
}
.nav-link__padding--right {
    position: relative;
    padding-right: 1.5rem !important;
}
.fa__absolute--right {
    position: absolute;
    top: 1.25rem;
    right: .5rem;
}
.logo {
    width: 200px;
}

.nav__profile {
    padding: 1rem 0;
    .nav-item {
        padding: 1rem 0;
    }
}
.img-user {
    width: 100px;
    height: auto;
    margin-bottom: .5rem;
}

/* Content */
.title {
    text-align: center;
}

/* Content panel history*/
.history__element {
    padding: 1rem 0;
    border-bottom: $border-primary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.history__img {
    width: 20%;
    height: auto;
}
.history__description {
    font-size: .9rem;
    width: 50%;
    padding: 0 1rem;
    margin: 0;
}
.history__details {
    width: 30%;
    text-align: right;
}

/* Content panel tasks */
.task__element {
    width: 150px;
    height: 100px;
    position: relative;
    &:hover {
        .task__button {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
    }
}
.task__img {
    width: 150px;
    height: auto
}
.task__button {
    width: 5rem;
    height: 2.5rem;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: calc(50% - 2.5rem);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .3s .2s;
    -moz-transition: transform .3s .2s;
    -ms-transition: transform .3s .2s;
    -o-transition: transform .3s .2s;
    transition: transform .3s .2s;
}
