/* Basic styles */
body {
  background-color: #ffffff;
  color: #626a6e;
  font-family: "Helvetica Neue", sans-serif; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

h1 {
  padding-left: .75rem;
  margin-bottom: 3rem; }

.no-padding {
  padding: 0; }

main {
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (max-width: 991px) {
    main {
      padding-top: 4rem; } }
  @media (min-width: 992px) {
    main {
      padding-left: 5rem !important;
      padding-right: 5rem !important; } }

.fa-mr {
  margin-right: .5rem; }

.fa-ml {
  margin-left: .5rem; }

.fa-login {
  font-size: 1.5rem; }

.container__login {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form__login {
  box-shadow: 0 -2px 4px #343a40, 2px 0 4px #343a40, 0 2px 4px #343a40, -2px 0 4px #343a40;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 991px) {
    .form__login {
      padding: 4rem 1rem; } }

.form__control {
  -webkit-transition: transform .3s .2s, width .3s;
  -moz-transition: transform .3s .2s, width .3s;
  -ms-transition: transform .3s .2s, width .3s;
  -o-transition: transform .3s .2s, width .3s;
  transition: transform .3s, width .3s; }
  .form__control:focus {
    width: calc(100% + 1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
    transform: translateX(-1rem); }

.btn__container {
  border: 2px solid #007dff;
  border-image: linear-gradient(90deg, #007dff, #00ffab);
  border-image-slice: 1;
  width: 100%;
  height: 2.25rem;
  position: relative; }

.btn__primary {
  color: white;
  background: linear-gradient(90deg, #007dff, #00ffab) #007dff;
  border: none;
  width: calc(100% + 4px);
  height: calc(2.25rem);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 1;
  -webkit-transition: transform .4s;
  -moz-transition: transform .4s;
  -ms-transition: transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s; }
  .btn__primary:hover {
    color: white;
    -webkit-transform: translateX(4px) translateY(4px);
    -moz-transform: translateX(4px) translateY(4px);
    -ms-transform: translateX(4px) translateY(4px);
    -o-transform: translateX(4px) translateY(4px);
    transform: translateX(4px) translateY(4px); }
  .btn__primary:focus {
    -webkit-transform: translateX(4px) translateY(4px);
    -moz-transform: translateX(4px) translateY(4px);
    -ms-transform: translateX(4px) translateY(4px);
    -o-transform: translateX(4px) translateY(4px);
    transform: translateX(4px) translateY(4px); }

/* Navigation */
.navbar {
  height: 100vh;
  padding: 10rem 0 1rem 0;
  box-shadow: 2px 0 4px #343a40;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0; }
  .navbar::-webkit-scrollbar {
    width: .5rem; }
  .navbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .navbar::-webkit-scrollbar-thumb {
    background-color: #626a6e;
    outline: 1px solid slategrey; }
  @media (max-width: 991px) {
    .navbar {
      width: 100%;
      height: 8vh;
      padding: .5rem 0 1rem 0;
      overflow-y: scroll; }
      .navbar::-webkit-scrollbar {
        display: none; }
      .navbar.clicked {
        height: 100vh; }
        .navbar.clicked::-webkit-scrollbar {
          display: inline; } }

.navbar-toggler {
  margin-left: .5rem; }

.nav__main {
  text-align: center;
  border-bottom: 1px solid #696969; }
  .nav__main .nav-link {
    padding: 1rem;
    border-top: 1px solid #696969; }
    .nav__main .nav-link.active {
      background-color: #626a6e; }

.nav-link__padding--right {
  position: relative;
  padding-right: 1.5rem !important; }

.fa__absolute--right {
  position: absolute;
  top: 1.25rem;
  right: .5rem; }

.logo {
  width: 200px; }

.nav__profile {
  padding: 1rem 0; }
  .nav__profile .nav-item {
    padding: 1rem 0; }

.img-user {
  width: 100px;
  height: auto;
  margin-bottom: .5rem; }

/* Content */
.title {
  margin-bottom: 2rem;
  text-align: center; }

/* Content panel history*/
.history__element {
  padding: 1rem 0;
  border-bottom: 1px solid #696969;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.history__img {
  width: 20%;
  height: auto; }

.history__description {
  font-size: .9rem;
  width: 50%;
  padding: 0 1rem;
  margin: 0; }

.history__details {
  width: 30%;
  text-align: right; }

/* Content panel tasks */
.task__element {
  width: 180px;
  height: 120px;
  margin: .5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .task__element:hover .task__button {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.task__img {
  width: 180px;
  height: auto; }

.task__button {
  width: 5rem;
  height: 2.5rem;
  position: absolute;
  top: calc(50% - 1.25rem);
  left: calc(50% - 2.5rem);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .3s .2s;
  -moz-transition: transform .3s .2s;
  -ms-transition: transform .3s .2s;
  -o-transition: transform .3s .2s;
  transition: transform .3s .2s; }

/*# sourceMappingURL=style.css.map */
